/* Color Theme Swatches in RGBA */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: rgb(12, 12, 12);
  font-family: "Roboto", sans-serif;
}
body p {
  font-family: "Merriweather", serif;
}

#navbarNav {
  background-color: rgb(12, 12, 12);
}

.carousel {
  width: 100% !important;
  overflow: hidden !important;
  right: 0 !important;
}

.navbar-toggler {
  color: rgb(242, 242, 242);
}
.navbar-toggler:focus {
  outline: none;
}

#hamburgerIcon {
  font-size: 3rem;
}

#gymLogo {
  height: 7rem;
}

.nav-item > a {
  color: rgb(242, 242, 242);
}

.dropdown-item:hover {
  background-color: rgb(165, 110, 77);
  color: white;
}

#carouselSlider {
  padding-bottom: 5rem;
}
#carouselSlider .carousel-item {
  height: 30rem;
  color: white;
  position: relative;
  overflow: hidden;
}
#carouselSlider .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100vh;
  overflow: hidden;
}
#carouselSlider .carousel-control-prev {
  overflow: hidden;
}
#carouselSlider .carousel-control-next {
  overflow: hidden;
}

#aboutUs {
  text-align: center;
  color: rgb(165, 110, 77);
}
#aboutUs hr {
  border: 2px solid rgb(165, 110, 77);
  max-width: 5%;
}
#aboutUs p {
  max-width: 50vw;
  margin: auto;
  color: rgb(242, 242, 242);
}

.quote h1 {
  color: rgb(242, 242, 242);
  font-style: oblique;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: auto;
}

#features {
  text-align: center;
  color: rgb(216, 4, 43);
}
#features hr {
  border: 2px solid rgb(216, 4, 43);
  max-width: 5%;
}
#features p {
  max-width: 50vw;
  margin: auto;
  color: rgb(242, 242, 242);
}
#features #cardGrid {
  max-width: 75%;
  margin: auto;
  gap: 1rem;
  font-size: 1rem;
  color: rgb(242, 242, 242);
}
#features #cardGrid .iconStyle {
  font-size: 4rem;
  color: white;
}
#features #cardGrid .featureStyle:hover {
  color: rgb(216, 4, 43);
  -webkit-animation: feature 700ms infinite linear;
          animation: feature 700ms infinite linear;
  cursor: pointer;
}
@-webkit-keyframes feature {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes feature {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#features #cardGrid .featureStyle:hover .iconStyle {
  font-size: 4rem;
  color: rgb(216, 4, 43);
}

#pricing {
  padding-top: 4rem;
  text-align: center;
  color: rgb(165, 110, 77);
}
#pricing hr {
  border: 2px solid rgb(165, 110, 77);
  max-width: 5%;
}
#pricing .card-header {
  background-color: rgb(165, 110, 77);
  color: rgb(242, 242, 242);
}
#pricing .premium .card-header {
  background-color: #714b35;
}
#pricing .premium .card-body {
  color: #714b35;
}
#pricing .premium li {
  color: #714b35;
}
#pricing .platinum .card-header {
  background-color: #4e3424;
}
#pricing .platinum .card-body {
  color: #4e3424;
}
#pricing .platinum li {
  color: #4e3424;
}
#pricing .cardEffect {
  border: 0px;
}
#pricing .cardEffect:hover {
  -webkit-animation: pricing 700ms infinite linear;
          animation: pricing 700ms infinite linear;
}
@-webkit-keyframes pricing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pricing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.material-icons-outlined {
  display: inline-flex;
  vertical-align: top;
}

#contact {
  max-width: 75%;
  margin: auto;
  color: rgb(242, 242, 242);
  padding-top: 2rem;
  color: rgb(165, 110, 77);
}
#contact h2 {
  text-align: center;
}
#contact hr {
  border: 2px solid rgb(165, 110, 77);
  max-width: 5%;
}
#contact button {
  background-color: rgb(165, 110, 77);
  border: 0px;
  font-weight: 700;
}

#footer {
  background-color: rgb(12, 12, 12);
  color: rgb(242, 242, 242);
}
#footer a {
  color: rgb(242, 242, 242);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */